In [1]:
import pandas as pd
import numpy as np
import glob
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt

from pprint import pprint

In [2]:
# directory = r"C:\Users\Пользователь\Downloads\archive"
directory = r"C:/Users/Николай/Desktop/Дане, которому постоянно что то нужно/Проект погода/archive"
files = listdir(directory)
print(files)

['Abu Dhabi_United Arab Emirates.csv', 'Ad Dammam_Saudi Arabia.csv', 'Adachi_Japan.csv', 'Adana_Turkey.csv', 'Aden_Yemen.csv', 'Agartala_India.csv', 'Agra_India.csv', 'Agwar_India.csv', 'Ahmedabad_India.csv', 'Ahvaz_Iran.csv', 'Ailan Mubage_China.csv', 'Ajmer_India.csv', 'Akcaabat_Turkey.csv', 'Aksu_China.csv', 'Al Amarah_Iraq.csv', 'Al Ayn_United Arab Emirates.csv', 'Al Basrah_Iraq.csv', 'Al Hillah_Iraq.csv', 'Al Hillah_Saudi Arabia.csv', 'Al Hudaydah_Yemen.csv', 'Al Hufuf_Saudi Arabia.csv', 'Al Mafraq_Jordan.csv', 'Al Qatif_Saudi Arabia.csv', 'Aleppo_Syria.csv', 'Aligarh_India.csv', 'Almaty_Kazakhstan.csv', 'Amman_Jordan.csv', 'Amravati_India.csv', 'Amritsar_India.csv', 'An Najaf_Iraq.csv', 'An Nasiriyah_Iraq.csv', 'Anda_China.csv', 'Ankang_China.csv', 'Ankara_Turkey.csv', 'Anlu_China.csv', 'Anqing_China.csv', 'Anqiu_China.csv', 'Ansan_South Korea.csv', 'Anshan_China.csv', 'Anshun_China.csv', 'Antalya_Turkey.csv', 'Antipolo_Philippines.csv', 'Anyang_South Korea.csv', 'Ar Ramadi_Iraq.csv', 'Ar Rayyan_Qatar.csv', 'Arak_Iran.csv', 'Ardabil_Iran.csv', 'As Sulaymaniyah_Iraq.csv', 'Asansol_India.csv', 'Ashgabat_Turkmenistan.csv', 'Aurangabad_India.csv', 'Bac Ninh_Vietnam.csv', 'Bacolod_Philippines.csv', 'Bacoor_Philippines.csv', 'Bagam_Indonesia.csv', 'Bagcilar_Turkey.csv', 'Baghdad_Iraq.csv', 'Bahar_Iran.csv', 'Bahawalpur_Pakistan.csv', 'Baicheng_China.csv', 'Baishan_China.csv', 'Baiyin_China.csv', 'Baku_Azerbaijan.csv', 'Bangalore_India.csv', 'Bangkok_Thailand.csv', 'Banjarmasin_Indonesia.csv', 'Baoding_China.csv', 'Baojishi_China.csv', 'Baoshan_China.csv', 'Baotou_China.csv', 'Bareilly_India.csv', 'Bazhou_China.csv', 'Beidao_China.csv', 'Beihai_China.csv', 'Beijing_China.csv', 'Beining_China.csv', 'Bekasi_Indonesia.csv', 'Bengbu_China.csv', 'Benxi_China.csv', 'Bhangar_India.csv', 'Bhavnagar_India.csv', 'Bhayandar_India.csv', 'Bhilai_India.csv', 'Bhilwara_India.csv', 'Bhiwandi_India.csv', 'Bhopal_India.csv', 'Bhubaneshwar_India.csv', 'Bien Hoa_Vietnam.csv', 'Bijie_China.csv', 'Bikaner_India.csv', 'Bilaspur_India.csv', 'Binzhou_China.csv', 'Bishkek_Kyrgyzstan.csv', 'Bogor_Indonesia.csv', 'Botou_China.csv', 'Bozhou_China.csv', 'Brahmapur_India.csv', 'Bucheon_South Korea.csv', 'Bursa_Turkey.csv', 'Busan_South Korea.csv', 'Cagayan de Oro_Philippines.csv', 'Caloocan City_Philippines.csv', 'Can Tho_Vietnam.csv', 'Canagatan_Philippines.csv', 'Cangzhou_China.csv', 'Cankaya_Turkey.csv', 'Cawnpore_India.csv', 'Cebu City_Philippines.csv', 'Cencheng_China.csv', 'Chandigarh_India.csv', 'Changchun_China.csv', 'Changde_China.csv', 'Changhua_Taiwan.csv', 'Changping_China.csv', 'Changsha_China.csv', 'Changshu_China.csv', 'Changwon_South Korea.csv', 'Changzhi_China.csv', 'Changzhou_China.csv', 'Chaohucun_China.csv', 'Chaoyang_China.csv', 'Chaozhou_China.csv', 'Chapra_India.csv', 'Chattogram_Bangladesh.csv', 'Chengdu_China.csv', 'Chengguan_China.csv', 'Chengtangcun_China.csv', 'Chengxiang_China.csv', 'Chennai_India.csv', 'Chenzhou_China.csv', 'Cheongju_South Korea.csv', 'Chiang Mai_Thailand.csv', 'Chiba_Japan.csv', 'Chifeng_China.csv', 'Chinchvad_India.csv', 'Chizhou_China.csv', 'Chongqing_China.csv', 'Chongzuo_China.csv', 'Chuxiong_China.csv', 'Chuzhou_China.csv', 'Cimahi_Indonesia.csv', 'City of Calamba_Philippines.csv', 'City of Paranaque_Philippines.csv', 'Coimbatore_India.csv', 'Colombo_Sri Lanka.csv', 'Cuttack_India.csv', 'Dadukou_China.csv', 'Daegu_South Korea.csv', 'Daejeon_South Korea.csv', 'Dalian_China.csv', 'Dali_China.csv', 'Damascus_Syria.csv', 'Dandong_China.csv', 'Dangyang_China.csv', 'Danyang_China.csv', 'Daqing_China.csv', 'Dashiqiao_China.csv', 'Dasmarinas_Philippines.csv', 'Davao_Philippines.csv', 'Dayan_China.csv', 'Daye_China.csv', 'Dazhou_China.csv', 'Dehra Dun_India.csv', 'Dehui_China.csv', 'Delhi_India.csv', 'Dengtalu_China.csv', 'Denizli_Turkey.csv', 'Denpasar_Indonesia.csv', 'Depok_Indonesia.csv', 'Deyang_China.csv', 'Dezhou_China.csv', 'Dhaka_Bangladesh.csv', 'Dhanbad_India.csv', 'Dhulia_India.csv', 'Dingxi_China.csv', 'Dingzhou_China.csv', 'Diyarbakir_Turkey.csv', 'Doha_Qatar.csv', 'Dongguan_China.csv', 'Dongtai_China.csv', 'Dongyang_China.csv', 'Dubai_United Arab Emirates.csv', 'Durgapur_India.csv', 'Dushanbe_Tajikistan.csv', 'Edogawa_Japan.csv', 'Encheng_China.csv', 'Erbil_Iraq.csv', 'Erzurum_Turkey.csv', 'Esenyurt_Turkey.csv', 'Esfahan_Iran.csv', 'Eskisehir_Turkey.csv', 'Ezhou_China.csv', 'Faisalabad_Pakistan.csv', 'Fangchenggang_China.csv', 'Farah_Afghanistan.csv', 'Faridabad_India.csv', 'Faridpur_Bangladesh.csv', 'Feicheng_China.csv', 'Fengcheng_China.csv', 'Foshan_China.csv', 'Fuding_China.csv', 'Fukuoka_Japan.csv', 'Fuqing_China.csv', 'Fushun_China.csv', 'Fuxin_China.csv', 'Fuyang_China.csv', 'Fuzhou_China.csv', 'Gaizhou_China.csv', 'Ganzhou_China.csv', 'Gaobeidian_China.csv', 'Gaomi_China.csv', 'Gaoping_China.csv', 'Gaoyou_China.csv', 'Gaozhou_China.csv', 'Gaza_Gaza Strip.csv', 'Gaziantep_Turkey.csv', 'Gazipura_Bangladesh.csv', 'General Santos_Philippines.csv', 'Ghaziabad_India.csv', 'Ghulja_China.csv', 'Gongzhuling_China.csv', 'Gorakhpur_India.csv', 'Goyang_South Korea.csv', 'Guangshui_China.csv', 'Guangyuan_China.csv', 'Guangzhou_China.csv', 'Guankou_China.csv', 'Guigang_China.csv', 'Guilin_China.csv', 'Guiping_China.csv', 'Guixi_China.csv', 'Guiyang_China.csv', 'Gujranwala_Pakistan.csv', 'Gulbarga_India.csv', 'Guli_China.csv', 'Gulou_China.csv', 'Guntur_India.csv', 'Gurgaon_India.csv', 'Guwahati_India.csv', 'Guyuan_China.csv', 'Gwalior_India.csv', 'Gwangju_South Korea.csv', 'Hachioji_Japan.csv', 'Hafr al Batin_Saudi Arabia.csv', 'Hai Duong_Vietnam.csv', 'Haicheng_China.csv', 'Haifa_Israel.csv', 'Haikou_China.csv', 'Hailun_China.csv', 'Haiphong_Vietnam.csv', 'Hamadan_Iran.csv', 'Hamah_Syria.csv', 'Hamamatsu_Japan.csv', 'Hamhung_North Korea.csv', 'Hanchuan_China.csv', 'Handan_China.csv', 'Hangzhou_China.csv', 'Hanoi_Vietnam.csv', 'Hanzhong_China.csv', 'Haora_India.csv', 'Harbin_China.csv', 'Hebi_China.csv', 'Hechi_China.csv', 'Hefei_China.csv', 'Hegang_China.csv', 'Heihe_China.csv', 'Hejian_China.csv', 'Hengshui_China.csv', 'Hengyang_China.csv', 'Hengzhou_China.csv', 'Herat_Afghanistan.csv', 'Heshan_China.csv', 'Heyuan_China.csv', 'Heze_China.csv', 'Hezhou_China.csv', 'Himeji_Japan.csv', 'Hiroshima_Japan.csv', 'Ho Chi Minh City_Vietnam.csv', 'Hohhot_China.csv', 'Homs_Syria.csv', 'Honcho_Japan.csv', 'Huaibei_China.csv', 'Huaihua_China.csv', 'Huainan_China.csv', 'Huaiyin_China.csv', 'Huanggang_China.csv', 'Huanghua_China.csv', 'Huanglongsi_China.csv', 'Huangshan_China.csv', 'Huangshi_China.csv', 'Huazhou_China.csv', 'Hue_Vietnam.csv', 'Huilong_China.csv', 'Huizhou_China.csv', 'Huludao_China.csv', 'Huzhou_China.csv', 'Hwasu-dong_South Korea.csv', 'Hyderabad City_Pakistan.csv', 'Hyderabad_India.csv', 'Incheon_South Korea.csv', 'Indore_India.csv', 'Ipoh_Malaysia.csv', 'Irbid_Jordan.csv', 'Islamabad_Pakistan.csv', 'Istanbul_Turkey.csv', 'Itabashi_Japan.csv', 'Izmir_Turkey.csv', 'Jabalpur_India.csv', 'Jaipur_India.csv', 'Jakarta_Indonesia.csv', 'Jalandhar_India.csv', 'Jambi_Indonesia.csv', 'Jammu_India.csv', 'Jamshedpur_India.csv', 'Jeddah_Saudi Arabia.csv', 'Jeonju_South Korea.csv', 'Jerusalem_Israel.csv', 'Jhansi_India.csv', 'Jiaji_China.csv', 'Jiamusi_China.csv', 'Jiangguanchi_China.csv', 'Jiangmen_China.csv', 'Jianguang_China.csv', 'Jiangyin_China.csv', 'Jianshe_China.csv', 'Jiaozhou_China.csv', 'Jiaozuo_China.csv', 'Jiaxing_China.csv', 'Jieshou_China.csv', 'Jieyang_China.csv', 'Jilin_China.csv', 'Jinan_China.csv', 'Jincheng_China.csv', 'Jingcheng_China.csv', 'Jingdezhen_China.csv', 'Jinghong_China.csv', 'Jingling_China.csv', 'Jinhua_China.csv', 'Jining_China.csv', 'Jinzhou_China.csv', 'Jiujiang_China.csv', 'Jixi_China.csv', 'Jodhpur_India.csv', 'Jurong_China.csv', 'Kabul_Afghanistan.csv', 'Kagoshima_Japan.csv', 'Kaifeng Chengguanzhen_China.csv', 'Kaiyuan_China.csv', 'Kalamboli_India.csv', 'Kalkaji Devi_India.csv', 'Kandahar_Afghanistan.csv', 'Kaohsiung_Taiwan.csv', 'Karachi_Pakistan.csv', 'Karaj_Iran.csv', 'Kashan_Iran.csv', 'Kashgar_China.csv', 'Kathmandu_Nepal.csv', 'Kawaguchi_Japan.csv', 'Kawasaki_Japan.csv', 'Kayseri_Turkey.csv', 'Kermanshah_Iran.csv', 'Kerman_Iran.csv', 'Khujand_Tajikistan.csv', 'Khulna_Bangladesh.csv', 'Kimhae_South Korea.csv', 'Kirkuk_Iraq.csv', 'Kitakyushu_Japan.csv', 'Klang_Malaysia.csv', 'Kobe_Japan.csv', 'Kochi_India.csv', 'Kolhapur_India.csv', 'Kolkata_India.csv', 'Konya_Turkey.csv', 'Korla_China.csv', 'Kota_India.csv', 'Koto-ku_Japan.csv', 'Kuaidamao_China.csv', 'Kuala Lumpur_Malaysia.csv', 'Kuantan_Malaysia.csv', 'Kucukcekmece_Turkey.csv', 'Kuiju_China.csv', 'Kumamoto_Japan.csv', 'Kumul_China.csv', 'Kunming_China.csv', 'Kuwait City_Kuwait.csv', 'Kyaukse_Myanmar.csv', 'Kyoto_Japan.csv', 'Lahore_Pakistan.csv', 'Laibin_China.csv', 'Laiwu_China.csv', 'Laixi_China.csv', 'Laiyang_China.csv', 'Langfang_China.csv', 'Langzhong_China.csv', 'Lanxi_China.csv', 'Lanzhou_China.csv', 'Las Pinas City_Philippines.csv', 'Latakia_Syria.csv', 'Leiyang_China.csv', 'Leizhou_China.csv', 'Leling_China.csv', 'Leping_China.csv', 'Leshan_China.csv', 'Lhasa_China.csv', 'Liangshi_China.csv', 'Lianjiang_China.csv', 'Lianshan_China.csv', 'Lianyuan_China.csv', 'Liaocheng_China.csv', 'Liaoyang_China.csv', 'Liaoyuan_China.csv', 'Licheng_China.csv', 'Lichuan_China.csv', 'Lincang_China.csv', 'Linfen_China.csv', 'Lingbao Chengguanzhen_China.csv', 'Lingcheng_China.csv', 'Lingyuan_China.csv', 'Linhai_China.csv', 'Linyi_China.csv', 'Lishui_China.csv', 'Liuzhou_China.csv', 'Longba_China.csv', 'Longyan_China.csv', 'Longzhou_China.csv', 'Loni_India.csv', 'Loudi_China.csv', 'Luanzhou_China.csv', 'Lucknow_India.csv', 'Ludhiana_India.csv', 'Luocheng_China.csv', 'Luofeng_China.csv', 'Luohe_China.csv', 'Luoyang_China.csv', 'Luzhou_China.csv', 'Macau_Macau.csv', 'Macheng_China.csv', 'Madurai_India.csv', 'Makassar_Indonesia.csv', 'Makati City_Philippines.csv', 'Malang_Indonesia.csv', 'Mandalay_Myanmar.csv', 'Mandvi_India.csv', 'Mangalore_India.csv', 'Manila_Philippines.csv', 'Maoming_China.csv', 'Mashhad_Iran.csv', 'Matsuyama_Japan.csv', 'Mecca_Saudi Arabia.csv', 'Medan_Indonesia.csv', 'Medina_Saudi Arabia.csv', 'Meerut_India.csv', 'Meicheng_China.csv', 'Meihekou_China.csv', 'Meishan_China.csv', 'Meizhou_China.csv', 'Mersin_Turkey.csv', 'Mianyang_China.csv', 'Miluo Chengguanzhen_China.csv', 'Mingguang_China.csv', 'Mirzapur_India.csv', 'Mizhou_China.csv', 'Moradabad_India.csv', 'Mosul_Iraq.csv', 'Mudanjiang_China.csv', 'Multan_Pakistan.csv', 'Mumbai_India.csv', 'Muntinlupa City_Philippines.csv', 'Muscat_Oman.csv', 'Mymensingh_Bangladesh.csv', 'Nada_China.csv', 'Nagercoil_India.csv', 'Nagoya_Japan.csv', 'Nagpur_India.csv', 'Nagqu_China.csv', 'Najafgarh_India.csv', 'Namangan_Uzbekistan.csv', 'Nampo_North Korea.csv', 'Nanchang_China.csv', 'Nanchong_China.csv', 'Nanded_India.csv', 'Nangandao_China.csv', 'Nanjing_China.csv', 'Nanning_China.csv', 'Nanping_China.csv', 'Nantong_China.csv', 'Nanyang_China.csv', 'Narayanganj_Bangladesh.csv', 'Narela_India.csv', 'Nasik_India.csv', 'Nay Pyi Taw_Myanmar.csv', 'Nehe_China.csv', 'Neijiang_China.csv', 'Nellore_India.csv', 'Nerima_Japan.csv', 'Niigata_Japan.csv', 'Ningbo_China.csv', 'Ningde_China.csv', 'Noida_India.csv', 'Nur-Sultan_Kazakhstan.csv', 'Okayama_Japan.csv', 'Orumiyeh_Iran.csv', 'Osaka_Japan.csv', 'Ota-ku_Japan.csv', 'Padang_Indonesia.csv', 'Palembang_Indonesia.csv', 'Pasig City_Philippines.csv', 'Patiala_India.csv', 'Patna_India.csv', 'Pekanbaru_Indonesia.csv', 'Peshawar_Pakistan.csv', 'Petaling Jaya_Malaysia.csv', 'Phnom Penh_Cambodia.csv', 'Pingdingshan_China.csv', 'Pingdu_China.csv', 'Pinghu_China.csv', 'Pingliang_China.csv', 'Pingtung_Taiwan.csv', 'Pingxiang_China.csv', 'Pizhou_China.csv', 'Pohang_South Korea.csv', 'Pontianak_Indonesia.csv', 'Prayagraj_India.csv', 'Pudong_China.csv', 'Pune_India.csv', 'Puning_China.csv', 'Putian_China.csv', 'Puxi_China.csv', 'Puyang Chengguanzhen_China.csv', 'Puyang_China.csv', 'Pyongyang_North Korea.csv', 'Qamdo_China.csv', 'Qianxi_China.csv', 'Qinbaling_China.csv', 'Qincheng_China.csv', 'Qingdao_China.csv', 'Qingnian_China.csv', 'Qingping_China.csv', 'Qingyang_China.csv', 'Qingyuan_China.csv', 'Qingzhou_China.csv', 'Qinhuangdao_China.csv', 'Qinzhou_China.csv', 'Qionghu_China.csv', 'Qiqihar_China.csv', 'Qom_Iran.csv', 'Quang Ha_Vietnam.csv', 'Quanzhou_China.csv', 'Quetta_Pakistan.csv', 'Quezon City_Philippines.csv', 'Qufu_China.csv', 'Qujing_China.csv', 'Quzhou_China.csv', 'Raipur_India.csv', 'Rajkot_India.csv', 'Rajshahi_Bangladesh.csv', 'Ranchi_India.csv', 'Rangapukur_Bangladesh.csv', 'Rangoon_Myanmar.csv', 'Rasht_Iran.csv', 'Rasulpur_India.csv', 'Raurkela_India.csv', 'Rawalpindi_Pakistan.csv', 'Renqiu_China.csv', 'Riyadh_Saudi Arabia.csv', 'Rizhao_China.csv', 'Rongcheng_China.csv', 'Rongjiawan_China.csv', 'Rucheng_China.csv', 'Ruiming_China.csv', 'Sagamihara_Japan.csv', 'Saharanpur_India.csv', 'Saidu Sharif_Pakistan.csv', 'Saitama_Japan.csv', 'Sakai_Japan.csv', 'Salem_India.csv', 'Samarinda_Indonesia.csv', 'Samarkand_Uzbekistan.csv', 'Samsun_Turkey.csv', 'San Jose del Monte_Philippines.csv', 'Sanaa_Yemen.csv', 'Sangereng_Indonesia.csv', 'Sanhe_China.csv', 'Sanliurfa_Turkey.csv', 'Sanmenxia_China.csv', 'Sanming_China.csv', 'Sanya_China.csv', 'Sanzhou_China.csv', 'Sapporo_Japan.csv', 'Sargodha_Pakistan.csv', 'Seberang Jaya_Malaysia.csv', 'Selcuklu_Turkey.csv', 'Sendai_Japan.csv', 'Seoul_South Korea.csv', 'Serang_Indonesia.csv', 'Setagaya_Japan.csv', 'Seyhan_Turkey.csv', 'Sha Tin_Hong Kong.csv', 'Shache_China.csv', 'Shah Alam_Malaysia.csv', 'Shanghai_China.csv', 'Shangqiu_China.csv', 'Shangrao_China.csv', 'Shangzhi_China.csv', 'Shangzhou_China.csv', 'Shanhu_China.csv', 'Shantou_China.csv', 'Shanwei_China.csv', 'Shaoguan_China.csv', 'Shaoxing_China.csv', 'Shaoyang_China.csv', 'Sharjah_United Arab Emirates.csv', 'Shengli_China.csv', 'Shenyang_China.csv', 'Shenzhen_China.csv', 'Shenzhou_China.csv', 'Shihezi_China.csv', 'Shijiazhuang_China.csv', 'Shiliguri_India.csv', 'Shiraz_Iran.csv', 'Shishi_China.csv', 'Shiyan_China.csv', 'Shizuoka_Japan.csv', 'Shouguang_China.csv', 'Shuangqiao_China.csv', 'Shuangyashan_China.csv', 'Shuizhai_China.csv', 'Shulan_China.csv', 'Shuozhou_China.csv', 'Shuyangzha_China.csv', 'Shymkent_Kazakhstan.csv', 'Sialkot City_Pakistan.csv', 'Sihui_China.csv', 'Singapore_Singapore.csv', 'Siping_China.csv', 'Sizhan_China.csv', 'Solapur_India.csv', 'Songnam_South Korea.csv', 'Songyang_China.csv', 'Songzi_China.csv', 'Srinagar_India.csv', 'Suginami-ku_Japan.csv', 'Suihua_China.csv', 'Suining_China.csv', 'Sumedang_Indonesia.csv', 'Suohe_China.csv', 'Suqian_China.csv', 'Surabaya_Indonesia.csv', 'Surakarta_Indonesia.csv', 'Surat_India.csv', 'Suwon_South Korea.csv', 'Suzhou_China.csv', 'Tabriz_Iran.csv', 'Tabuk_Saudi Arabia.csv', 'Taguig City_Philippines.csv', 'Taichung_Taiwan.csv', 'Taihecun_China.csv', 'Taihe_China.csv', 'Tainan_Taiwan.csv', 'Taipei_Taiwan.csv', 'Taishan_China.csv', 'Taixing_China.csv', 'Taiyuan_China.csv', 'Taizhou_China.csv', 'Taizz_Yemen.csv', 'Tan An_Vietnam.csv', 'Tangerang_Indonesia.csv', 'Tangshan_China.csv', 'Tashkent_Uzbekistan.csv', 'Tasikmalaya_Indonesia.csv', 'Tbilisi_Georgia.csv', 'Tehran_Iran.csv', 'Tel Aviv-Yafo_Israel.csv', 'Tengyue_China.csv', 'Thane_India.csv', 'Thiruvananthapuram_India.csv', 'Thu Duc_Vietnam.csv', 'Tianchang_China.csv', 'Tianjin_China.csv', 'Tieling_China.csv', 'Tiruppur_India.csv', 'Tokyo_Japan.csv', 'Tondo_Philippines.csv', 'Tongchuan_China.csv', 'Tongjin_South Korea.csv', 'Tongliao_China.csv', 'Tongren_China.csv', 'Tongshan_China.csv', 'Trichinopoly_India.csv', 'Tripoli_Lebanon.csv', 'Tumkur_India.csv', 'Turpan_China.csv', 'Ujjain_India.csv', 'Ulaanbaatar_Mongolia.csv', 'Ulhasnagar_India.csv', 'Ulsan_South Korea.csv', 'Urumqi_China.csv', 'Utsunomiya_Japan.csv', 'Vadodara_India.csv', 'Valenzuela_Philippines.csv', 'Varanasi_India.csv', 'Vasai_India.csv', 'Vellore_India.csv', 'Vientiane_Laos.csv', 'Vijayawada_India.csv', 'Vishakhapatnam_India.csv', 'Wafangdian_China.csv', 'Wancheng_China.csv', 'Warangal_India.csv', 'Weichanglu_China.csv', 'Weifang_China.csv', 'Weihai_China.csv', 'Weinan_China.csv', 'Wenchang_China.csv', 'Wencheng_China.csv', 'Wenlan_China.csv', 'Wenling_China.csv', 'Wenzhou_China.csv', 'Wuchuan_China.csv', 'Wugang_China.csv', 'Wuhai_China.csv', 'Wuhan_China.csv', 'Wuhu_China.csv', 'Wusong_China.csv', 'Wutong_China.csv', 'Wuwei_China.csv', 'Wuxi_China.csv', 'Wuxue_China.csv', 'Wuzhong_China.csv', 'Wuzhou_China.csv', 'Xiamen_China.csv', 'Xiangshui_China.csv', 'Xiangtan_China.csv', 'Xiangxiang_China.csv', 'Xiangyang_China.csv', 'Xiantao_China.csv', 'Xianyang_China.csv', 'Xiaoganzhan_China.csv', 'Xiaoxita_China.csv', 'Xiashi_China.csv', 'Xibeijie_China.csv', 'Xichang_China.csv', 'Xigaze_China.csv', 'Ximeicun_China.csv', 'Xindi_China.csv', 'Xingcheng_China.csv', 'Xingtai_China.csv', 'Xingyi_China.csv', 'Xinhualu_China.csv', 'Xining_China.csv', 'Xinji_China.csv', 'Xinmin_China.csv', 'Xinpu_China.csv', 'Xinshi_China.csv', 'Xintai_China.csv', 'Xinxing_China.csv', 'Xinyang_China.csv', 'Xinyi_China.csv', 'Xinyu_China.csv', 'Xinzhou_China.csv', 'Xiping_China.csv', 'Xishan_China.csv', 'Xiulin_China.csv', 'Xuanzhou_China.csv', 'Xushan_China.csv', 'Yancheng_China.csv', 'Yangchun_China.csv', 'Yanggok_South Korea.csv', 'Yangjiang_China.csv', 'Yangquan_China.csv', 'Yangshe_China.csv', 'Yangzhou_China.csv', 'Yanjiang_China.csv', 'Yanji_China.csv', 'Yantai_China.csv', 'Yatou_China.csv', 'Yazd_Iran.csv', 'Yerevan_Armenia.csv', 'Yibin_China.csv', 'Yicheng_China.csv', 'Yichun_China.csv', 'Yildirim_Turkey.csv', 'Yinchuan_China.csv', 'Yingcheng_China.csv', 'Yingchuan_China.csv', 'Yingkou_China.csv', 'Yingtan_China.csv', 'Yiwu_China.csv', 'Yiyang_China.csv', 'Yokohama_Japan.csv', 'Yongcheng_China.csv', 'Yongzhou_China.csv', 'Yucheng_China.csv', 'Yuci_China.csv', 'Yulinshi_China.csv', 'Yulin_China.csv', 'Yuncheng_China.csv', 'Yunfu_China.csv', 'Yushan_China.csv', 'Yushu_China.csv', 'Yutan_China.csv', 'Yuxi_China.csv', 'Yuyao_China.csv', 'Zahedan_Iran.csv', 'Zamboanga City_Philippines.csv', 'Zaoyang_China.csv', 'Zaozhuang_China.csv', 'Zhangjiajie_China.csv', 'Zhangjiakou_China.csv', 'Zhangshu_China.csv', 'Zhangye_China.csv', 'Zhangzhou_China.csv', 'Zhaodong_China.csv', 'Zhaoqing_China.csv', 'Zhaotong_China.csv', 'Zhengzhou_China.csv', 'Zhenjiang_China.csv', 'Zhenzhou_China.csv', 'Zhongba_China.csv', 'Zhongli_Taiwan.csv', 'Zhongshan_China.csv', 'Zhongshu_China.csv', 'Zhongwei_China.csv', 'Zhongxiang_China.csv', 'Zhoukou_China.csv', 'Zhoushan_China.csv', 'Zhuanghe_China.csv', 'Zhuangyuan_China.csv', 'Zhufeng_China.csv', 'Zhugang_China.csv', 'Zhuhai_China.csv', 'Zhuji_China.csv', 'Zhumadian_China.csv', 'Zhuozhou_China.csv', 'Zhuzhou_China.csv', 'Zibo_China.csv', 'Zigong_China.csv', 'Zijinglu_China.csv', 'Zouping_China.csv', 'Zunhua_China.csv', 'Zunyi_China.csv']

In [3]:
# Выше виден список всех файлов с данными, эти данные необьходимо объединить в один файл, с которым потом будем работать

In [4]:
# path = r"C:\Users\Пользователь\Downloads\archive"
path = directory
all_files = glob.glob(path + "/*.csv")
lst = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    lst.append(df)
data = pd.concat(lst, axis=0, ignore_index=False)
data = data.reset_index(drop=True)
pprint(data.head())

   Unnamed: 0        Date  Latitude  Longitude        cld        dtr  frs  \
0           0  1901-01-16   24.4667    54.3667  30.000000  10.400001  0.0
1           1  1901-02-15   24.4667    54.3667  31.300001  10.500000  0.0
2           2  1901-03-16   24.4667    54.3667  32.500000  11.500000  0.0
3           3  1901-04-16   24.4667    54.3667  28.700001  12.600000  0.0
4           4  1901-05-16   24.4667    54.3667  16.300001  13.600000  0.0

   pet        pre        tmn        tmp        tmx        vap   wet
0  3.0   6.600000  13.000000  18.200001  23.400000  14.300000  0.94
1  3.7  19.700001  14.300000  19.500000  24.800001  15.400001  3.10
2  5.0  14.900001  17.700001  23.400000  29.200001  18.200001  3.19
3  6.4   6.200000  21.400000  27.700001  34.000000  21.300001  0.96
4  8.1   1.400000  25.300001  32.100002  38.900002  25.800001  0.00

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267824 entries, 0 to 1267823
Data columns (total 14 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1267824 non-null  int64
 1   Date        1267824 non-null  object
 2   Latitude    1267824 non-null  float64
 3   Longitude   1267824 non-null  float64
 4   cld         1267824 non-null  float64
 5   dtr         1267824 non-null  float64
 6   frs         1267824 non-null  float64
 7   pet         1264896 non-null  float64
 8   pre         1267824 non-null  float64
 9   tmn         1267824 non-null  float64
 10  tmp         1267824 non-null  float64
 11  tmx         1267824 non-null  float64
 12  vap         1267824 non-null  float64
 13  wet         1267824 non-null  float64
dtypes: float64(12), int64(1), object(1)
memory usage: 135.4+ MB

In [6]:
del data['Unnamed: 0']

In [7]:
data.head(20)

,Date,Latitude,Longitude,cld,dtr,frs,pet,pre,tmn,tmp,tmx,vap,wet
0,1901-01-16,24.4667,54.3667,30.000000,10.400001,0.0,3.0,6.600000,13.000000,18.200001,23.400000,14.300000,0.94
1,1901-02-15,24.4667,54.3667,31.300001,10.500000,0.0,3.7,19.700001,14.300000,19.500000,24.800001,15.400001,3.10
2,1901-03-16,24.4667,54.3667,32.500000,11.500000,0.0,5.0,14.900001,17.700001,23.400000,29.200001,18.200001,3.19
3,1901-04-16,24.4667,54.3667,28.700001,12.600000,0.0,6.4,6.200000,21.400000,27.700001,34.000000,21.300001,0.96
4,1901-05-16,24.4667,54.3667,16.300001,13.600000,0.0,8.1,1.400000,25.300001,32.100002,38.900002,25.800001,0.00
5,1901-06-16,24.4667,54.3667,15.000000,12.900001,0.0,8.3,0.000000,26.600000,33.000000,39.500000,29.600000,0.00
6,1901-07-16,24.4667,54.3667,21.300001,12.200000,0.0,8.1,0.000000,29.200001,35.299999,41.400002,34.000000,0.09
7,1901-08-16,24.4667,54.3667,20.000000,11.600000,0.0,7.8,1.300000,29.300001,35.100002,40.900002,35.200001,0.13
8,1901-09-16,24.4667,54.3667,12.500000,12.700000,0.0,7.1,0.000000,27.600000,33.900002,40.299999,33.400002,0.00
9,1901-10-16,24.4667,54.3667,11.300000,12.400001,0.0,5.6,0.000000,23.400000,29.600000,35.799999,26.600000,0.00
10,1901-11-16,24.4667,54.3667,16.300001,11.600000,0.0,4.1,0.400000,19.300001,25.100000,30.900000,20.600000,0.00
11,1901-12-16,24.4667,54.3667,27.500000,10.400001,0.0,3.3,5.300000,16.700001,21.900000,27.100000,17.400000,1.80
12,1902-01-16,24.4667,54.3667,30.000000,10.400001,0.0,3.2,6.600000,14.300000,19.500000,24.700001,15.200000,0.94
13,1902-02-15,24.4667,54.3667,31.300001,10.500000,0.0,3.9,19.600000,15.300000,20.500000,25.800001,16.200001,3.07
14,1902-03-16,24.4667,54.3667,32.500000,11.500000,0.0,5.4,13.900001,19.000000,24.700001,30.500000,18.600000,3.00
15,1902-04-16,24.4667,54.3667,28.700001,12.600000,0.0,6.6,6.300000,21.700001,28.000000,34.299999,20.500000,1.00
16,1902-05-16,24.4667,54.3667,16.300001,13.600000,0.0,7.8,1.400000,24.100000,30.900000,37.700001,24.900000,0.00
17,1902-06-16,24.4667,54.3667,15.000000,12.900001,0.0,8.2,0.000000,26.600000,33.000000,39.500000,30.000000,0.00
18,1902-07-16,24.4667,54.3667,21.300001,12.200000,0.0,7.7,0.000000,27.700001,33.799999,39.900002,32.600002,0.09
19,1902-08-16,24.4667,54.3667,20.000000,11.600000,0.0,7.6,1.300000,28.600000,34.400002,40.200001,34.400002,0.13

In [8]:
#Date
#Latitude
#Longitude
#cld: Cloud cover (%)
#dtr: Temperature range (°C)
#frs: Number of frost days
#pet: Potential evapotranspiration (mm)
#pre: Precipitation (mm)
#tmn: Minimum temperature (°C)
#tmp: Mean temperature (°C)
#tmx: Maximum temperature (°C)
#vap: Relative humidity (%)
#wet: Number of wet days

In [9]:
data.count(axis=0, numeric_only=False)

Date         1267824
Latitude     1267824
Longitude    1267824
cld          1267824
dtr          1267824
frs          1267824
pet          1264896
pre          1267824
tmn          1267824
tmp          1267824
tmx          1267824
vap          1267824
wet          1267824
dtype: int64

In [10]:
print(len(data[data['cld'] == ''])/len(data[data['cld'] != '']))
print(len(data[data['dtr'] == ''])/len(data[data['dtr'] != '']))
print(len(data[data['frs'] == ''])/len(data[data['frs'] != '']))
print(len(data[data['pet'] == ''])/len(data[data['pet'] != '']))
print(len(data[data['pre'] == ''])/len(data[data['pre'] != '']))
print(len(data[data['tmn'] == ''])/len(data[data['tmn'] != '']))
print(len(data[data['tmp'] == ''])/len(data[data['tmp'] != '']))
print(len(data[data['tmx'] == ''])/len(data[data['tmx'] != '']))
print(len(data[data['vap'] == ''])/len(data[data['vap'] != '']))
print(len(data[data['wet'] == ''])/len(data[data['wet'] != '']))

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [11]:
data.loc[0]

Date         1901-01-16
Latitude        24.4667
Longitude       54.3667
cld                30.0
dtr           10.400001
frs                 0.0
pet                 3.0
pre                 6.6
tmn                13.0
tmp           18.200001
tmx                23.4
vap                14.3
wet                0.94
Name: 0, dtype: object

In [12]:
data.drop(data[data['Longitude']<73.3].index, axis=0, inplace = True)
# data = data.reset_index(drop=True)
# data_len = len(data)
# print("-" * 100)
# count = 0
# for i in range(data_len):
#     print(i)
#     if (i // data_len) * 100 > count:
#         print("*")
#         count += 1
#     if data.loc[i]["Longitude"] < 73.3:
#         data.drop(index=i, inplace=True)

In [13]:
data.head()

,Date,Latitude,Longitude,cld,dtr,frs,pet,pre,tmn,tmp,tmx,vap,wet
2928,1901-01-16,35.7749,139.8044,44.600002,8.300000,15.259999,1.5,66.900002,1.0,5.100000,9.300000,5.0,11.849999
2929,1901-02-15,35.7749,139.8044,49.100002,10.300000,19.219999,1.6,40.100002,-1.3,3.900000,9.100000,5.0,7.180000
2930,1901-03-16,35.7749,139.8044,53.500000,10.900001,12.599999,2.4,95.300003,2.0,7.400000,12.900001,6.0,17.949999
2931,1901-04-16,35.7749,139.8044,76.200005,8.500000,0.020000,2.9,120.800003,9.7,13.900001,18.200001,10.0,16.750000
2932,1901-05-16,35.7749,139.8044,74.900002,8.500000,0.000000,3.3,106.500000,12.7,16.900000,21.200001,13.2,15.190000

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076040 entries, 2928 to 1267823
Data columns (total 13 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Date       1076040 non-null  object
 1   Latitude   1076040 non-null  float64
 2   Longitude  1076040 non-null  float64
 3   cld        1076040 non-null  float64
 4   dtr        1076040 non-null  float64
 5   frs        1076040 non-null  float64
 6   pet        1076040 non-null  float64
 7   pre        1076040 non-null  float64
 8   tmn        1076040 non-null  float64
 9   tmp        1076040 non-null  float64
 10  tmx        1076040 non-null  float64
 11  vap        1076040 non-null  float64
 12  wet        1076040 non-null  float64
dtypes: float64(12), object(1)
memory usage: 114.9+ MB

In [15]:
 def days_from_data(data: str) -> int:
    answer = 0
    year, month, day = [int(i) for i in data.split('-')]
    answer += (year - START_DATA[0]) * 365
    for i in range(START_DATA[0], year+1):
        answer += i % 4 == 0 and (i % 100 != 0 or i % 400 == 0)
    for i in range(START_DATA[1], month):
        answer += DAY_IN_MONTH[i]
    answer += day - START_DATA[2]
    return answer

In [16]:
data_len = len(data)
START_DATA = [1900, 1, 1]
DAY_IN_MONTH = {1: 31, 2: 28, 3: 31,
                4: 30, 5: 31, 6: 30,
                7: 31, 8: 31, 9: 30,
                10: 31, 11: 30, 12: 31}

In [17]:
data = data.reset_index(drop=True)

In [22]:
data['Date'] = data['Date'].apply(lambda x: days_from_data(x))

In [25]:
max_date = data["Date"].max()

In [33]:
data['Date'] = data['Date'] / max_date

In [34]:
data

,Date,Latitude,Longitude,cld,dtr,frs,pet,pre,tmn,tmp,tmx,vap,wet
0,4.195497e-12,35.7749,139.8044,44.600002,8.300000,15.259999,1.5,66.900002,1.0,5.100000,9.300000,5.000000,11.849999
1,4.526721e-12,35.7749,139.8044,49.100002,10.300000,19.219999,1.6,40.100002,-1.3,3.900000,9.100000,5.000000,7.180000
2,4.846903e-12,35.7749,139.8044,53.500000,10.900001,12.599999,2.4,95.300003,2.0,7.400000,12.900001,6.000000,17.949999
3,5.189168e-12,35.7749,139.8044,76.200005,8.500000,0.020000,2.9,120.800003,9.7,13.900001,18.200001,10.000000,16.750000
4,5.520391e-12,35.7749,139.8044,74.900002,8.500000,0.000000,3.3,106.500000,12.7,16.900000,21.200001,13.200000,15.190000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076035,4.944835e-10,27.7050,106.9336,59.400002,9.900001,0.000000,4.1,21.700001,21.0,25.900000,30.900000,21.900000,5.600000
1076036,4.948258e-10,27.7050,106.9336,76.800003,8.000000,0.000000,2.9,64.000000,17.5,21.500000,25.500000,17.500000,11.050000
1076037,4.951570e-10,27.7050,106.9336,76.900002,7.100000,0.000000,2.1,39.799999,12.8,16.300001,19.900000,12.800000,11.660000
1076038,4.954993e-10,27.7050,106.9336,71.000000,7.400000,0.020000,1.6,12.400001,9.7,13.400001,17.100000,11.900001,8.700000
1076039,4.958305e-10,27.7050,106.9336,83.000000,4.600000,9.520000,1.2,20.900000,3.2,5.500000,7.800000,5.700000,13.340000